*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.px-5 {
    padding: 0 1rem;
    max-width: 1300px;
    max-height: 600px; /* Set a specific height */
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: visible;

}
h3 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Add Employee Button */
.btn-success {
    margin-bottom: 1rem;
}

/* Table Styles */
.table {
    width: 100%; /* Increase the width to trigger horizontal scrolling */
    margin: auto;
    border-collapse: collapse;
    border: 3px solid var(--background-second-color);
    border-spacing: 0px;
    min-width: max-content;
    overflow: auto;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--activation-color);
}
th{
    position: sticky;
}
.table th {
    background-color: var(--background-color);
    color: var(--text-color);
}

.table td {
    background-color: var(--text-color);
    color: var(--background-color);
}

.table tbody tr:hover {
    background-color: var(--activation-color);
}


/* Action Buttons */
.btn-info, .btn-warning {
    margin-right: 0;
}
.table-responsive {
    max-width: 100%;
    max-height: 500px; /* Set a specific height */
    overflow-x: scroll;
    overflow-y: scroll;
}

.employee_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}
