*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--text-color);
}

.loginForm {
    padding: 30px; /* Extra padding for a more spacious look */
    border: 3px solid var(--background-second-color, #ccc);
    border-radius: 10px; /* Softer corners */
    width: 100%;
    max-width: 400px; /* Ensure responsiveness */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.2s, box-shadow 0.2s;
}

.loginForm:hover {
    transform: scale(1.02); /* Subtle scaling effect on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.loginForm h2 {
    margin-bottom: 20px;
    text-align: center;
}

.loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--background-second-color);
    text-align: center;
    transition: background-color color 0.3s;
}
.loginForm input:focus {
    background-color: rgba(251, 255, 0, 0.815);
    color: black;
}

.loginForm button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    background-color: var(--btns-1-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color color 0.3s;
}

.loginForm button:hover {
    background-color: rgba(251, 255, 0, 0.815);
    color: black;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}